



{% extends "baza.html" %}
{% block content %}
      <div class="container">

      </div>
  </section>
  <section>
    <h3>Kolejna strona:</h3>
    <a class="py-2 d-none d-md-inline-block" href="/pag1"><p>1</p></a>
    <a class="py-2 d-none d-md-inline-block" href="/pag2"><p>2</p></a>
    <a class="py-2 d-none d-md-inline-block" href="/pag3"><p>3</p></a>
    <a class="py-2 d-none d-md-inline-block" href="/pag4"><p>4</p></a>
    <a class="py-2 d-none d-md-inline-block" href="/pag5"><p>5</p></a>




  {% endblock %}